<section>
    <div id="main-bg" class="container">
        <section class="inner-body">
            <mat-card>
                <h1>Sign Up</h1>
                <p> <a routerLink="Sign-Up">login here</a> portal</p>
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="loginUser(myform.value)"
                    #myform="ngForm">
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-label>Full Name</mat-label>
                                    <input formControlName="username" type="text" matInput
                                        placeholder="Enter Fiest Name" required>
                                    <mat-error class="text-danger" *ngIf="loginForm.get('username') && myform.submitted"
                                        class='alert alert-danger'>
                                        name is required
                                    </mat-error>
                                    <!-- <mat-error *ngIf="name.invalid">{{getErrorMessagename()}}</mat-error> -->
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter your email</mat-label>
                                    <mat-icon matSuffix>email</mat-icon>
                                    <input formControlName="email" matInput placeholder="pat@example.com" required
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
                                    <mat-error class="text-danger" *ngIf="loginForm.get('email') && myform.submitted"
                                        class='alert alert-danger'>
                                        email is required
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-icon matSuffix>phone</mat-icon>
                                    <mat-label>Mobile</mat-label>
                                    <input formControlName="phone" type="text" matInput placeholder="Enter Number"
                                        required>
                                    <mat-error class="text-danger" *ngIf="loginForm.get('phone') && myform.submitted"
                                        class='alert alert-danger'>
                                        number is required
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Enter your password</mat-label>
                                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"
                                        required>
                                    <mat-error class="text-danger" *ngIf="loginForm.get('password') && myform.submitted"
                                        class='alert alert-danger'>
                                        password is required it must max six digit
                                    </mat-error>
                                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <div align="end">
                        <button mat-raised-button color="primary" routerLink="Sign-Up">Sign Up</button>
                        <!-- [disabled]="!loginForm.valid" -->
                    </div>
                </form>
            </mat-card>
        </section>
    </div>
</section>