#main-bg {
    background: url(../../assets/img/tech-img.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.inner-body {
    background-color: #ffffff9e;
    padding: 2rem;
    border-radius: 4px;
}